<header class="header">
  <div class="header-block header-block-nav">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <form class="form-inline" (ngSubmit)="setPage(form)" #form="ngForm">
        <input [(ngModel)]="search" class="form-control mr-sm-2" name="searchField" #searchField="ngModel">
        <button class="btn btn-success" [disabled]="!form.valid" type="submit">Go over!</button>
      </form>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
            Hello, {{user.name}}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item"></a>
            <a class="dropdown-item">Exit</a>
          </div>
        </li>
        <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Dropdown link
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
          </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" (click)="onLogout()"></a>
        </li> -->
      </ul>
    </nav>
  </div>
</header>
