.form-group:nth-child(1) {
    width: 500px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.form-group:nth-child(2) {
    width: 500px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.route-content {
    width: 500px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}