<div class="tableAndToolbar">
  <div *ngIf='this.currentUser'>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span class="example-spacer"></span>
            <mat-icon mat-raised-button (click)="addModal()" class="example-icon">person_add</mat-icon>
            <mat-icon mat-raised-button (click)="editModal()" class="example-icon">edit</mat-icon>
            <mat-icon (click)="deleteModal(row)" class="example-icon">delete</mat-icon>
            <mat-icon (click)="deleteSelectedModal(row)" class="example-icon">delete_sweep</mat-icon>
            <mat-icon (click)="refresh()" class="example-icon">refresh</mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element._id}} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Password Column -->
  <ng-container matColumnDef="password">
    <th mat-header-cell *matHeaderCellDef> Password </th>
    <td mat-cell *matCellDef="let element"> {{element.password}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="toggleSelect(row)" [ngClass]="{'selected': row.selected}">
  </tr>
</table>
</div>



<!-- </div> -->
<div class="container-1">
    <div class="buttons">
      <a [routerLink]="['/system', 'second']">
        <button class="btn">Назад</button>
      </a>
      <a [routerLink]="['/system', 'first']">
        <button class="btn">Вперед</button>
      </a>
    </div>
</div>
<!-- <div class="circl">
  <h1>3</h1>
</div> -->
